<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pl">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}">
    <meta charset="utf-8"/>
    <title>System likwidacji szkód</title>
</head>
<header>

    <h1 class="logo">System likwidacji szkód</h1>

    <nav id="navigation">

        <ul class="menu">
            <li><a href="/">Strona główna</a></li>
            <li><a href="#">O firmie</a></li>
            <li><a href="#">Oferta</a></li>
            <li><a href="#">Kontakt</a></li>
            <li><a href="/reportTheDamage">Zgłoś szkodę</a></li>
            <li><a href="/listOfDamages">Lista szkód</a></li>
            <li><a href="/listOfPolicy">Lista polis</a></li>
            <li><a href="/logout">Wyloguj</a></li>
        </ul>

    </nav>

</header>
<body>
<div id="formReportTheDamage">
    <h3>Podaj dane dotyczące szkody:</h3>
    <div id="container">
        <form method="post">
            <label for="numberOfPolicy">Numer aktywnej polisy:</label>
            <select id="numberOfPolicy" name="numberOfPolicy">
                <tr th:each="policy :${list}">
                    <option th:text="${policy?.getNumer()}">nr</option>
                </tr>
            </select>
            <br/>
            <br/>
            <label for="typeDamage">Typ szkody:</label>
            <input type="text" id="typeDamage" name="typeDamage">
            <br/>
            <br/>
            <label for="descriptionDamage">Opis szkody:<br/></label>
            <textarea id="descriptionDamage" name="descriptionDamage" cols="70" rows="10"></textarea>
            <div id="lower">
                <br/>
                <input type="submit" value="Zgłoś">
            </div>
        </form>
    </div>
    <div th:if="${info}" id="info" class="ui-state-error-text">
        <h3 th:text="${info}"></h3>
    </div>
</div>
<br/>
<br/>
<footer>
    © 2019 sls.pl
    <span sec:authorize="isAuthenticated()">
                | Zalogowany użytkownik: <span sec:authentication="name"></span> |
                Rola: <span sec:authentication="principal.authorities"></span>
    </span>
</footer>
</body>
</html>